.campaign {
	&__main {
	}
	&__title {}
	&__content {}
	&__steps {
		max-width: 700px;
		width: 100%;
		&-item {
			position: relative;
			display: block;
			padding-left: 20px;
			padding-right: 4px;
			color: $color-gray;
			pointer-events: none;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 4px;
				height: 4px;
				background: $color-gray;
				border-radius: 2px;
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: 0;
				width: 16px;
				height: 16px;
				border: 1px solid $color-gray;
				border-radius: 50%;
			}
			&.is-active {
				color: $color-middleblack;
				&:before {
					background: $color-orange;
				}
				&:after {
					border: 5px solid $color-orange;
				}
			}
			&.is-completed {
				color: $color-darkgray;
				pointer-events: all;
				cursor: pointer;
				&:before {
					background: $color-darkgray;
				}
				&:after {
					border: none;
					background: url('./assets/img/icons/completed.svg') 50% 50% no-repeat;
					background-size: 16px 16px;
				}
			}
		}
	}
	&__form {
		width: 100%;
		max-width: 800px;
		&-region {
			cursor: pointer;
		}
	}
	&__ads,
	&__pay {
		width: 100%;
		max-width: 920px;
	}
	&__times {
		&-row {
			text-align: center;
			line-height: 1.5;
			min-width: 660px;
			.m--col {
				width: 3.8%;
				min-width: 25px;
				font-size: 14px;
				.form-check {
					padding-left: 1.6em;
				}
			}
			.m--col {
				.btn {
					padding: 0;
					margin: 0;
					width: 1em;
					height: 1em;
					border-radius: 0.25em;
					margin-top: 0.125rem;
					&.btn-outline-warning:not(.active) {
						border-color: $color-lightgray;
					}
					&:hover {
						background-color: transparent;
					}
					&.active:hover {
						background-color: $color-orange;
					}
				}
			}
			.form-check-input {
				margin-left: -1em;
			}
		}
	}
	&__ads {
		&-item {
			cursor: pointer;
			border: 2px solid transparent;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			&:hover,
			&.is-active {
				border: 2px solid $color-orange;
				filter: drop-shadow(0px 4px 10px rgba(255, 121, 0, 0.25));
			}
		}
	}
}